/* admin.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
}

.dashboard {
  padding: 20px;
  background-color: #0044cc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

nav {
    background-color: #333;
  }
  

 .logo-image {
    width: 60px;
    height: 60px;
  }
  @media screen and (max-width:500px) {
     .logo-image {
    width: 40px;
    height: 40px;
  }
  }
  nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #333;
  align-items: center;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  text-decoration: underline;
}
  
 .footer-p {
  margin: 0px !important;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0044cc;
  color: white;
  padding: 14px 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px !important;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

form {
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

form input,
form select,
form textarea {
  width: 97%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 60px;

}

table th,
table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  nav ul {
    gap: 10px;
    font-size: 10px;
  }
}

#flightForm {
  margin: 0 auto;
  margin-top: 20px;
}
#flightsTable {
  padding: 50px;
  margin: 0 auto;
  overflow-x:scroll;
    scrollbar-width: none;
  -ms-overflow-style: none;
}
form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

.table-scroll {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch; 
  white-space: nowrap;
  max-width: 1400px;
  margin:  0 auto;
}

.table-scroll::-webkit-scrollbar {
  width: 5px;              
  height: 6px;              
}

.table-scroll::-webkit-scrollbar-track {
  background: #f0f0f0;     
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #888;        
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;      
}

.disabled-btn {
  background-color: lightgray !important;
  color: #666;
  cursor: not-allowed;
}
